.employee-detail {
    background-color: white;
    height: 450px;
    left: 50%;
    padding: 15px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
}

.employee-detail .close-detail {
    position: absolute;
    right: 15px;
    top: 15px;
}